<!DOCTYPE html>
<html>
    <head>
        <title>Agregar Suministro</title>
    </head>
    <body>
        <h1>Agregar Suministro</h1>
        <form action="{{ url_for('agregar_suministros_view') }}" method="post">
            <label for="codigo">Código:</label><br>
            <input type="text" id="codigo" name="codigo"><br><br>
            <label for="nombre">Nombre:</label><br>
            <input type="text" id="nombre" name="nombre"><br><br>
            <label for="precio">Precio:</label><br>
            <input type="text" id="precio" name="precio"><br><br>
            <input type="submit" value="Agregar suministro">
        </form>

        {% if mensaje %}
            <p>{{ mensaje }}</p>
        {% endif %}
    </body>
</html>