<!DOCTYPE html>
<html>
    <head>
        <title>Alta de Personal</title>
    </head>
    <body>
        <h1>Alta de Personal</h1>
        <form action="/alta_personal" method="post">
            <label for="codigo">Código:</label>
            <input type="text" id="codigo" name="codigo"><br><br><label for="nombre">Nombre:</label><input type="text" id="nombre" name="nombre"><br><br><label for="apellido">Apellido:</label><input type="text" id="apellido" name="apellido"><br><br><label for="puesto">Puesto:</label><input type="text" id="puesto" name="puesto"><br><br><input type="submit" value="Dar de Alta">
        </form>
    </body>
</html>
