<!DOCTYPE html>
<html>
    <head>
        <title>Alta de Personal</title>
    </head>
    <body>
        <h1>Alta de Personal</h1>
        {% if success %}
            <p>Trabajador dado de alta con éxito</p>
        {% endif %}
        <form action="{{ url_for('alta_personal') }}" method="post">
            <label for="codigo">Código:</label>
            <input type="text" id="codigo" name="codigo"><br>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre"><br>
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido"><br>
            <label for="puesto">Puesto:</label>
            <input type="text" id="puesto" name="puesto"><br>
            <input type="submit" value="Dar de alta">
        </form>
    </body>
</html>