<!DOCTYPE html>
<html>
    <head>
        <title>Baja Personal</title>
    </head>
    <body>
        {% if baja %}
            <h1>Personal dado de baja</h1>
            <p>El personal ha sido dado de baja correctamente.</p>
        {% else %}
            <h1>Baja Personal</h1>
            <form action="/personal/baja" method="post">
                <label for="codigo">Código:</label><br>
                <input type="text" id="codigo" name="codigo"><br><br>

                <input type="submit" value="Dar de baja">
            </form> 
        {% endif %}
    </body>
</html>