<!DOCTYPE html>
<html>
    <head>
        <title>Cambio de Puesto</title>
    </head>
    <body>
        <h1>Cambio de Puesto</h1>
        <form action="/personal/cambio_puesto" method="get">
            <label for="codigo">Código:</label><br>
            <input type="text" id="codigo" name="codigo"><br><br>
            <label for="puesto">Nuevo Puesto:</label><br>
            <input type="text" id="puesto" name="puesto"><br><br>
            <input type="submit" value="Cambiar">
        </form>

        {% if mensaje %}
            <p>{{ mensaje }}</p>
        {% endif %}
    </body>
</html>