<!DOCTYPE html>
<html>
    <head>
        <title>Cambio Personal</title>
    </head>
    <body>
        {% if cambio %}
            <h1>Cambio realizado</h1>
            <p>El cambio de puesto ha sido realizado correctamente.</p>
        {% else %}
            <h1>Cambio Personal</h1>
            <form action="/personal/cambio" method="post">
                <label for="codigo">Código:</label><br>
                <input type="text" id="codigo" name="codigo"><br><br>

                <label for="nuevo_puesto">Nuevo Puesto:</label><br>
                <input type="text" id="nuevo_puesto" name="nuevo_puesto"><br><br>

                <input type="submit" value="Cambiar puesto">
            </form> 
        {% endif %}
    </body>
</html>