<!DOCTYPE html>
<html>
    <head>
        <title>Administración de Inventario</title>
    </head>
    <body>
        <h1>---Administración de Inventario---</h1>
        <h2>Menú:</h2>
        <ul>
            <li><a href="{{ url_for('mostrar_inventario') }}">Inventario</a></li>
            <li><a href="{{ url_for('agregar_suministros_view') }}">Agregar suministros</a></li>
            <li><a href="{{ url_for('quitar_suministros_view') }}">Quitar suministros</a></li>
            <li><a href="{{ url_for('ordenar_suministros_view') }}">Ordenar suministros</a></li>
            <li><a href="/">Menu Inicial</a></li>
        </ul>
    </body>
</html>