<!DOCTYPE html>
<html>
    <head>
        <title>Administración de Personal</title>
    </head>
    <body>
        <h1>Administración de Personal</h1>
        <h2>Menú:</h2>
        <ul>
            <li><a href="{{ url_for('alta_personal') }}">Alta de Personal</a></li>
            <li><a href="{{ url_for('baja_personal') }}">Baja de Personal</a></li>
            <li><a href="{{ url_for('cambio_puesto') }}">Cambio de Puesto</a></li>
            <li><a href="{{ url_for('menu') }}">Menu Inicial</a></li>
        </ul>
    </body>
</html>